
.book-box {
    background-clip: content-box, padding-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

.book-box-blue {
    background-color: #323670;
    color: #fff;
}

.book-box-red {
    background-color: #77384f;
    color: #fff;
}

.book-box div {
    padding: 15px;
}

.book-box a {
    color: #323670;
}

.btn-blue {
    background-color: #16c0ec;
    border-color: #16c0ec;
    color: white !important;
}

.btn-wrap-text{
	white-space: normal;
}

.book-box h4 {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .book-cover {
        position: absolute;
        top: -80px;
        left: 20%;
        max-height: 350px;
    }
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.series-title{
	padding-bottom: 0px;
}

.landing-box {
    background-clip: content-box, padding-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

.landing-container{
	padding-top: 80px;
	padding-bottom: 80px;
}

.gradient-bg{
	background-image: linear-gradient(to right, #323670 , #7d384c );
}

.collapsible {
  background-color: #323670;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.active, .collapsible:hover {
  background-color: #202246;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #0003;
}

.num-header{
	margin-bottom: 20px;
}

#num-star{
	max-width: 50%;
}